.container {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    overflow-y: auto;
    margin-top: 180px;
    height: 100%;
}

@media (max-width: 915px) {
    .container {
        margin-left: 0;
    }
}

.filtersContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: flex-start;
    width: 100%;
}

.resultsText {
    align-self: flex-start;
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
}

.filterBubble {
    display: flex;
    align-items: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 16px;
}

.filterRemove {
    margin-left: 5px;
    cursor: pointer;
    color: red;
}

.gridContainer {
    display: grid;
    gap: 20px;
    width: 100%;
    transition: grid-template-columns 0.3s ease;
}

@media (min-width: 1300px) {
    .gridContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1300px) {
    .gridContainer {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 915px) {
    .gridContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    .gridContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 630px) {
    .gridContainer {
        grid-template-columns: 1fr;
    }
}

.box {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;
    padding: 10px;
}

.box:hover {
    transform: scale(1.05);
}

.top {
    position: relative;
}

.img {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.iconContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    display: flex;
    gap: 5px;
}

.bottom {
    padding: 10px 10px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
    font-size: 22px;
    margin-bottom: 5px;
    padding-left: 0px;
    padding-right: 10px;
}

.description {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.advants {
    display: flex;
    justify-content: left;
    padding-left: 0px;
    padding-right: 10px;
}

.advantsItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px; 
    position: relative;
}

.advantsItem:first-child {
  padding: 0 10px 0 0;
}

.advantsItem:not(:last-child)::after {
  content: '';
  width: 1px;
  height: 100%;
  background-color: #ddd;
  position: absolute;
  right: 0;
}

.advantsTitle {
    font-size: 12px;
    font-weight: bold;
}

.advantsDetail {
    display: flex;
    align-items: center;
}

.advantsIcon {
    margin-right: 5px;
}

.advantsText {
    font-size: 16px;
}

.advantsSubText {
    font-size: 16px;
    color: #777;
}

.price {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.priceTitle {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    padding-right: 30px;
}

.priceValue {
    font-size: 24px;
    font-weight: bold;
    color: #2F99EC;
}

.editButton {
    display: block;
    margin: 10px auto;
    padding: 5px 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.editButton:hover {
    background-color: #0056b3;
}

.carouselCell img {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.slick-prev, .slick-next {
    z-index: 1;
}

.slick-prev {
    left: 10px;
    z-index: 1;
}

.slick-next {
    right: 10px;
    z-index: 1;
}

.sliderContainer {
  display: inline-block;
}

.slick-prev, .slick-next {
    font-size: 65px;
    z-index: 1;
    width: 20px;
    height: 20px;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.slick-prev::hover, .slick-next::hover {
    opacity: 1;
    font-size: 20px ;
}

.top:hover .slickArrow {
    display: block;
}

.slickArrow {
    font-size: 45px !important;
    z-index: 2;
}

.slick-prev::before, .slick-next::before {
    font-size: 35px;
    color: black; 
    content: '';
}

.slickArrow.slick-prev::before, .slickArrow.slick-next::before {
    font-size: 95px;
    color: black;
    opacity: 1;
    z-index: 2;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 45px;
  cursor: pointer;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
}

.listingType {
  font-weight: bold;
  margin-left: 10px;
  font-size: 22px;
}
