.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.listings-container {
    display: flex;
}

.map-wrapper {
    position: fixed;
    top: 180px; 
    transition: flex-grow 0.3s ease;
    width: auto;
}

.posts-wrapper {
    flex-shrink: 0;
    margin-left: 45%; 
    width: 55%;
}


@media (max-width: 914px) {
    .map-wrapper {
        display: none; 
    }

    .posts-wrapper {
        width: 100%;
        margin-left: 0%;
    }
}



